<template>
    <div>
    <!-- <h1>{{ name }}</h1> 
        <p>{{ tasks[0] }}</p>
        <p>{{ tasks[1] }}</p>
        <hr>
        <componentA/>
        <componentB/>
        <componentC/> -->
        <p>{{ first_name }} {{ last_name }}</p>
    </div>
</template>

<script>
//import ComponentA from './ComponentA.vue';
//import ComponentB from './ComponentB.vue';
//import ComponentC from './ComponentC.vue';
    export default {
        name:'GreetingMessage',
        props:['first_name','last_name'],
        components: {
           // ComponentA,
           // ComponentB,
           // ComponentC,
        },

        data: () => {
            return {
                name: "Mark Zuckerberg",
                tasks: [
                    { id: 1, title: 'Buy some milk', isFave: false},
                    { id: 2, title: 'Play games', isFave: false},

                ]
            }
        },
    }
</script>