<template>
  <div>
    <img src="./assets/logo.png" alt="vue logo">
    <GreetingMessage first_name="Mark" last_name="Zuckerberg" />
    <GreetingMessage first_name="Elon" last_name="Musk"/>
    <GreetingMessage first_name="Bill" last_name="Gate"/>
    <GreetingMessage first_name="fName" v-bind="last_name"/>
    <GreetingMessage v-bind:full-name />
  </div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue';
  export default {
  name:'App',
    comments: {
      GreetingMessage,
    },
  }
</script>
computed: {
  fullName() {
    return this.fNmae + this.lName 
  }
}

<style>
 #app{
  text-align: center;
 }
</style>